# --- Install Core Frameworks ---

#  Web Application - model predictions via an API endpoint.
Flask

# Machine Learning library
tensorflow

# for handling numerical operations
numpy

# Accuracy/Loss curves (line charts).
matplotlib

# web-based visualization
plotly

#pdf
fpdf2

gunicorn 
